<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this is the home page</h1>
    <p> لورم‌ساز
        ابزارهای برنامه‌نویسی و گرافیک
                طراحی لوگو و خلق هویت بصری برند، تنها بخشی از خدمات بُعد چهارم است.
                
        نکته بعدی در مورد متن ساختگی لورم ایپسوم این است که بعضی از طراحان وبسایت و گرافیست کاران بعد از آنکه قالب و محتوای مورد نظرشون را ایجاد کردند از یاد می‌برند که متن لورم را از قسمتهای مختلف سایت حذف کنند و یا با متن دیگری جایگزین کنند. به همین دلیل اغلب اوقات ما با وبسایتهایی مواجه می‌شویم که در گوشه و کنار صفحات آنها متن لورم ایپسوم هنوز وجود دارد و حذف نشده است که این نشان دهنده بی توجهی طراحان ا
        امنیت سایتت رو با هاست لینوکس هاست ایران تامین کن
        امنیت سایتت رو با هاست لینوکس هاست ایران تامین کن
      
        </p>
    
</body>
</html>